@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Raleway & display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header{
    position: relative;
width: 1440px;
height: 505px;


}

header.banner{

   background-image: url(imagens/banner.png) ;
 
     
}
.logo img{
    padding-left: 40vw;
}
.banner-content h1,p{
    text-align: center;
    padding-top: 30px;
}
.banner-content h1{
    
    font-family: 'Raleway' , sans-serif;
    text-transform: uppercase;
    width: 434px;
height: 47px;


font-style: normal;
font-weight: bolder;
font-size: 40px;
line-height: 47px;
padding-left: 35vw;
white-space: nowrap;
color: #33A8DB;
}
.banner-content p{
    width: 510px;
height: 46px;
    font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
padding-left: 32vw;
padding-top: -10px;
}
.banner-content button{


font-family: 'Raleway';
font-style: normal;
font-weight: bolder;
font-size: 16px;
text-transform: uppercase;
line-height: 19px;
    margin-left: 40vw;
    margin-top: 15px;
    padding: 15px;
    color: #31A8DD;
    }
    main{
        background-color: black; 
        width: 1440px;
        height: 1350px;
    }

    #course-content h2{
        text-align: center;
        width: 477px;
height: 38px;

font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 32px;
padding-left: 32vw;
text-transform: uppercase;
line-height: 38px;
white-space: nowrap;




letter-spacing: 0.19em;

color: #33A8DB;
    }
    #course-content p{
        width: 792px;
height: 38px;

font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
padding-left: 20vw;

color: #FFFFFF;
    }
.modules-list{
margin-left: 400px;
    }

    .module {
        box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 127px;
gap: 10px;

width: 535px;
height: 51px;

background: #252525;
border: 1px solid #33A8DB;
box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
border-radius: 57px;
margin-left: 400px;
padding: 10px;
margin: 10px 0px;
color: white;

}
.module span{


font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #33A8DB;
}
#transform-world{
    background-image: url(imagens/woman-code.png);
    height: 300px;
    width: 1440px;
    

    }
    #transform-world p{
        position: relative;
        width: 244px;
height: 141px;
        

left: 0px;
top: 0px;


font-family: 'Raleway';
font-style: normal;
font-weight: bolder;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;

text-shadow: 3px 2px 0px #33A8DB;
text-transform: lowercase;
padding-left: 70px;

    }
    #professional-challenges h2{
        width: 746px;
height: 76px;
left: 347px;
top: 1577px;

font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
text-align: center;
letter-spacing: 0.19em;
padding-left: 22vw;
text-transform: uppercase;


color: #33A8DB;
    }
    #professional-challenges img {
        position: relative;
width: 659px;

left: 390px;
top: 30px;



    }
    #professional-challenges p{
        position: relative;
width: 792px;
height: 76px;
left: 324px;
top: 50px;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

    }
    footer{
        background-color: black;
        box-sizing: border-box;

        position: relative;
        width: 1440px;
        height: 170px;
        left: 0px;
        top: 0px;
        
       
        

        }
    footer img.dio-logo{
      margin-left: 40vw;


    }
    footer p{
        position: relative;
width: 259px;
height: 19px;
left: 591px;


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
    }






  
